# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.My-Book-API.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\C#\My-Book-API\.idea\.idea.My-Book-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
